/* variables, mixins, extensions  & functions */

$colour-primary: #9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary: #99E2D0;
$main-background: #F6F6F6;
$footer-background: #353535;
$white: #fff;
%mgLeft10{margin-left: 10px;}
%mgLeft20{margin-left: 20px;}
%headingMargin{margin:20px 0 20px 20px; }
/* fonts */
@mixin titles-style{
   font-family: 'Shrikhand', cursive;
   font-size: 1.7rem;
   margin:auto;
   text-align: center;
   
}
/* reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body,p,a,ul,li{
   text-decoration: none;
   list-style: none;
   font-family: 'Roboto', sans-serif;
   color: black;
}
.wrapper{
   max-width: 1440px;
   margin:auto;
   height:auto;
}
/* base styles */

.main__heading{
   @include titles-style();
   margin: 10px 0 20px 0;
}

form {
   text-align: center;
   background: linear-gradient(180deg, rgba(223,223,223,1) 0%, rgba(234,234,234,1) 100%);
   height: 50px;
   padding:15px;
   }
#cities {
   background: transparent;
   border:none;
   font-size: 1rem;
   font-weight: 600;
   margin-left:2%;
}
.fa-location-dot{margin-left: 23%;}

/* 1st Section Explore  */
.explore-prev{

   &__container{
      background-color: $main-background;
      text-align: center;
      padding:20px;
   }
   &__heading{
      font-weight: 800;
      margin-bottom: 10px;
   }
   &__byline{
      margin-bottom: 10px;
   }
   &__btn{
      color:white;
      border-radius: 30px;
      padding: 20px;
      border:none;
      background: linear-gradient(162deg, $colour-secondary 0%, $colour-primary 100%);
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 1rem;
   }
   &__btn:hover{
      cursor: pointer;
   }
}

 
/* 2nd Section*/
.function-prev__heading{
   @extend %headingMargin;
}
.function-prev-list{
   text-align: center;
   &__item{
      margin:0 30px 20px;
      font-weight: bold;
      padding:30px;
      background-color: $main-background;
      border-radius: 25px;
      position: relative;
      font-size: 1.1rem;
      box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
      
   }
   &__span{
      position: absolute;
      border-radius: 50%;
      background-color: $colour-primary;
      padding:4px;
      color:white;
      width: 25px;
      height: 25px;
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 500;
      left: -10px;
   }
   &__item--highlight{
      background-color: #F5EDFF;
   }
   &__item>i{
      margin-right:30px;
      
   }
}

.fa-store--highlight{color:$colour-primary}

/*3rd Section Restaurants*/
.restaurant-prev__heading{
   @extend %headingMargin; 
}
.restaurant-prev{
   background-color: $main-background;
   padding: 20px 0 30px 0;
   
}
.restaurant-bloc {
   width:90%;
   margin: 20px auto;
   background-color: white;
   border-radius: 25px;
   position: relative;
   box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
   &__heading{
      @extend %mgLeft10;
      margin-top: 10px;
   }
   &__byline{
      @extend %mgLeft10;
      display: inline-block;
      margin-bottom: 20px;
   }
   &__newLabel{
      position: absolute;
      top:10px;
      right:20px;
      background-color: $colour-tertiary;
      border-radius: 5px;
      padding:5px;
   }
}
.restaurant-bloc img{
   width:100%;
   height:180px;
   object-fit: cover;
   border-radius: 25px 25px 0 0;
}
.fa-heart-home{
   font-size: 1.6rem;
   position:absolute;
   right:20px;
   bottom: 20px;
   }

/*footer*/

footer{
   background-color: $footer-background;
   padding-bottom: 20px;
}
.footer-prev{
   color:white;
   padding-top: 10px;
   &__heading{
      @extend %headingMargin;
      font-family: 'Shrikhand', cursive;
      letter-spacing: .02rem;
      font-size: 1.4rem;
   }
}
footer ul{@extend %mgLeft20;}
.footer-nav{
   &__link{
      color:$white;
      margin-bottom: 10px;
      text-align: left;
      cursor: pointer;
   }
   &__link i{
      color:$white;      
   }
   
}
.fa-utensils{margin-right: 20px;}
.fa-handshake-angle{margin-right: 10px;}

/*    Syle for Menus pages Templates   */
   /*General Layout*/
.command-btn{text-align: center;}
.menu-prev__img{
   width:100%;
   object-fit: cover;
}
/*  Menu  Layout  */
.menu-prev{
   background-color: $main-background;
}
.main__heading--menu{
   @include titles-style();
   margin-right: 27%;
   .fa-arrow-left{
      margin-right: 28%;
      font-size: 1.3rem;
   }
}
