.menu-prev, .menu-prev__img {
  position: relative;
}

.restaurant-bloc__byline, .restaurant-bloc__heading {
  margin-left: 10px;
}

footer ul {
  margin-left: 20px;
}

.restaurant-prev__heading, .function-prev__heading, .footer-prev__heading {
  margin: 20px 0 20px 20px;
}

/* KF for loading ring*/
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bg-change {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes scale-change {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    opacity: 0.3;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* Keyframes for Heart Animation*/
@keyframes fillHeart {
  0% {
    height: auto;
    opacity: 1;
  }
  25% {
    height: 25px;
    opacity: 0.8;
  }
  50% {
    height: 15px;
    opacity: 0.5;
  }
  75% {
    height: 5px;
    opacity: 0.2;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes fillOut {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: 5px;
    opacity: 0.2;
  }
  50% {
    height: 15px;
    opacity: 0.5;
  }
  75% {
    height: 25px;
    opacity: 0.8;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
/*KF for Menu's Cards*/
@keyframes menuCard {
  from {
    transform: translate(0, 35%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}
@keyframes checked {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}
@keyframes out {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@keyframes circleRotation {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotationOut {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-180deg);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, a, ul, li {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: black;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  height: auto;
}

/* base styles */
/*Loading Ring*/
.lds-ring {
  display: flex;
  position: fixed;
  width: 1440px;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  animation: bg-change 3s ease-in-out;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.fa-snipet {
  margin-right: 0px;
  background: #9356DC;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: lds-ring 1.35s cubic-bezier(0.5, 0, 0.5, 1) 2, bg-change 3s ease-in-out, scale-change 0.8s ease-in-out;
  font-size: 3rem;
}

.lds-ring div {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 8px;
  border: 10px solid;
  border-radius: 50%;
  animation: lds-ring 1.35s cubic-bezier(0.5, 0, 0.5, 1) 2, bg-change 3s ease-in-out;
  border-color: #9356DC transparent transparent transparent;
  visibility: hidden;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

/*Header*/
.main-header__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  text-align: center;
}
.main-header__title--marginTp {
  margin: 10px 0 20px 0;
}

form {
  text-align: center;
  background: linear-gradient(180deg, rgb(223, 223, 223) 0%, rgb(234, 234, 234) 100%);
  height: 50px;
  padding: 15px;
}

#cities {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2%;
}

.fa-location-dot {
  margin-left: 23%;
}
@media screen and (min-width: 800px) {
  .fa-location-dot {
    margin-left: 0%;
  }
}

/* Heart Icon setup for Home Page & Menu Pages*/
.fa-heart {
  position: absolute;
  right: 5%;
  font-size: 1.6rem;
  cursor: pointer;
}
.fa-gradient {
  background: #9356DC;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform-origin: bottom;
}
.fa-white {
  background-color: #fff;
  height: auto;
  transition: all 0.9s ease-in-out;
  animation: fillOut 0.9s ease-in-out forwards;
}
.fa-grey {
  background-color: #F6F6F6;
  height: auto;
  transition: all 0.9s ease-in-out;
  animation: fillOut 0.9s ease-in-out forwards;
}
.fa-white:hover {
  animation: fillHeart 0.9s ease-in-out forwards;
}
.fa-grey:hover {
  animation: fillHeart 0.9s ease-in-out forwards;
}
.fa-menu {
  margin-right: 20px;
  position: absolute;
  top: 33px;
}
@media screen and (min-width: 800px) {
  .fa-menu {
    margin-right: 15%;
  }
}

/*Footer */
footer {
  background-color: #353535;
  padding-bottom: 20px;
}

.footer-prev {
  padding-top: 10px;
}
@media screen and (min-width: 800px) {
  .footer-prev {
    text-align: center;
  }
}
@media screen and (min-width: 961px) {
  .footer-prev {
    text-align: left;
  }
}
.footer-prev__heading {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
  color: white;
}
@media screen and (min-width: 961px) {
  .footer-prev__heading {
    margin-left: 5%;
  }
}

.footer-nav__link {
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  width: 60%;
}
@media screen and (min-width: 800px) {
  .footer-nav__link {
    margin: 10px auto;
  }
}
@media screen and (min-width: 961px) {
  .footer-nav__link {
    margin: 10px 10px 10px 3%;
  }
}
.footer-nav__link i {
  color: #fff;
}
.footer-nav__link a {
  color: #fff;
}

/*Footer Icons Layout*/
.fa-footer {
  margin-right: 20px;
}
.fa-handshake-angle {
  margin-right: 10px;
}

/* 1st Section Explore  */
.explore-prev__container {
  background-color: #F6F6F6;
  text-align: center;
  padding: 20px;
}
.explore-prev__heading {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.explore-prev__byline {
  margin-bottom: 10px;
}
.explore-prev__btn {
  color: white;
  border-radius: 30px;
  padding: 20px;
  border: none;
  background: linear-gradient(162deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 0.9rem;
  height: 50px;
  line-height: 0rem;
  width: 65%;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.explore-prev__btn:hover {
  cursor: pointer;
  background: linear-gradient(162deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 800px) {
  .explore-prev__btn {
    width: 30%;
  }
}
@media screen and (min-width: 961px) {
  .explore-prev__btn {
    width: 20%;
  }
}

/* 2nd Section  "Fonctionnement" */
@media screen and (min-width: 800px) {
  .function-prev__heading {
    text-align: center;
  }
}
.function-prev-list {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .function-prev-list {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 961px) {
  .function-prev-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.function-prev-list__item {
  margin: 0 30px 20px;
  font-weight: bold;
  padding: 30px;
  background-color: #F6F6F6;
  border-radius: 25px;
  position: relative;
  font-size: 1.1rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 800px) {
  .function-prev-list__item {
    margin: 20px auto;
  }
}
.function-prev-list__span {
  position: absolute;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 4px;
  color: white;
  width: 25px;
  height: 25px;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  left: -10px;
}
@media screen and (min-width: 961px) {
  .function-prev-list__span {
    left: 50%;
    top: -13px;
  }
}
.function-prev-list__item > i {
  margin-right: 30px;
  transition: all 0.5s ease-in-out;
}
.function-prev-list__item:hover {
  background-color: #F5EDFF;
}
.function-prev-list__item:hover > i {
  color: #9356DC;
}

/*3rd Section Restaurants*/
.restaurant-prev {
  background-color: #F6F6F6;
  padding: 20px 0 30px 0;
}
@media screen and (min-width: 800px) {
  .restaurant-prev__heading {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .restaurant-prev__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaurant-bloc {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 25px;
  position: relative;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 800px) {
  .restaurant-bloc {
    width: 40%;
  }
}
@media screen and (min-width: 961px) {
  .restaurant-bloc {
    width: 23%;
  }
}
.restaurant-bloc__heading {
  margin-top: 10px;
}
.restaurant-bloc__byline {
  display: inline-block;
  margin-bottom: 20px;
}
.restaurant-bloc__newLabel {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 5px;
}

.restaurant-bloc img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

/*    Syle for Menus pages Templates   */
.command-btn {
  text-align: center;
  margin-top: 20px;
}

.menu-prev__img {
  width: 100%;
  object-fit: cover;
  z-index: -99;
}

/* Menus Templates Header */
.fa-arrow-left {
  font-size: 1.3rem;
  left: 5%;
  top: 1%;
  position: absolute;
}

/*  Layout for Menus Pages */
.menu-prev {
  background-color: #F6F6F6;
  margin-top: -47px;
  z-index: 1;
  position: relative;
  border: none;
  margin-top: -47px;
  padding: 25px 20px 5px;
  border-radius: 25px 25px;
}
@media screen and (min-width: 961px) {
  .menu-prev {
    margin-top: -30%;
  }
}

@media screen and (min-width: 800px) {
  .menu-prev {
    padding: 25px 15% 5px;
  }
}
@media screen and (min-width: 961px) {
  .menu-prev {
    padding: 25px 20% 5px;
  }
}
.menu-prev__restaurant-heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
}
@media screen and (min-width: 961px) {
  .menu-prev__restaurant-heading {
    text-align: center;
  }
}
.menu-prev__menu-heading {
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu-prev__menu-heading::after {
  content: "";
  width: 11%;
  height: 2px;
  position: absolute;
  background-color: #99E2D0;
  bottom: -4px;
  left: 0;
}

/*Style for selection card */
.carte-prev {
  margin-top: 20px;
}
.carte-prev-card {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  height: 75px;
  width: 100%;
  animation: menuCard 0.9s linear 0.3s forwards;
  opacity: 0;
}
.carte-prev__heading {
  margin: 15px 10px 5px 10px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  padding-right: 30px;
}
.carte-prev__byline {
  margin-left: 10px;
  display: inline-block;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  vertical-align: bottom;
}
.carte-prev__price {
  font-weight: 600;
  margin-right: 0px;
  font-size: 0.8rem;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 800px) {
  .carte-prev__price {
    margin-left: 10%;
  }
}
.carte-prev-link {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  position: relative;
  z-index: 100;
  transition: all 1.5s ease-in-out;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: out;
  transform-origin: right;
}
.carte-prev-link:hover {
  animation-name: checked;
  transition: all 1.5s ease-in-out;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.carte-prev-card--hidden {
  width: 100%;
  border-radius: 0 20px 20px 0;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 0;
  top: -100%;
}
.carte-prev-card--hidden i {
  font-size: 1.7rem;
  transform: rotate(-180deg);
  opacity: 0;
  animation-name: rotationOut;
}
.carte-prev-card:hover .carte-prev-card--green i {
  animation-name: circleRotation;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.carte-prev-card--green {
  width: 20%;
  height: 80px;
  vertical-align: middle;
  position: relative;
  z-index: 0;
  text-align: center;
  background-color: #99E2D0;
  color: #fff;
  right: -80%;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carte-prev-card:hover .carte-prev-card--green {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.carte-prev div:nth-child(1) {
  animation-delay: 0.35s;
}

.carte-prev div:nth-child(2) {
  animation-delay: 0.7s;
}

.carte-prev div:nth-child(3) {
  animation-delay: 0.9s;
}

/*# sourceMappingURL=style.css.map */
