/*    Syle for Menus pages Templates   */
   
.command-btn{
   text-align: center;
   margin-top: 20px;
}
.menu-prev__img{
   width:100%;
   object-fit: cover;
   @extend %relative-position;
   z-index: -99;
}
/* Menus Templates Header */
.fa-arrow-left{
   font-size: 1.3rem;
   left: 5%;
   top: 2%;
   position: absolute;
   @include xlScreen{left:auto;}
   
}

/*  Layout for Menus Pages */
.wrapper{
   &-menu{
      @include xlScreen{
         display: flex;
         justify-content: space-evenly;
      }
   }
   &-dish{
      @include xlScreen{flex-basis: 30%;} 
   }
}
.menu-prev{
   background-color: $main-background;
   @extend %relative-position;
   margin-top: -47px;
   z-index: 1;
   position: relative;
   border: none;
   margin-top:-47px;
   padding:25px 20px 5px;
   border-radius: 25px 25px 0 0;
   @include desktop{margin-top: -35%;}
}
.menu-prev{
   @include tablet-only{padding:25px 15% 5px;} 
   @include desktop{padding:25px 20% 5px;} 
   @include xlScreen{padding:25px 0px 5px;} 
   &__restaurant-heading{
      font-family: "Shrikhand", cursive;
      font-size: 1.6rem;
      @include desktop {text-align: center;}  
   }
   &__menu-heading{
      margin-top:25px; 
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      
   }
   &__menu-heading::after{
      content:'';
      width: 11%;
      height: 2px;
      position:absolute;
      background-color: $colour-tertiary;
      bottom: -4px;
      left: 0;
   }
}
/*Style for selection card */
.carte-prev{
   margin-top: 20px;
   

   &-card{
      background-color: #fff;
      border-radius: 20px;
      margin-top: 20px;
      overflow: hidden;
      height:75px;
      width: 100%;
      animation: menuCard 1.2s linear 0.3s forwards;
      opacity:0;
      
   }
   &__heading{
      margin:15px 10px 5px 10px;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      padding-right: 30px;
   }
   &__byline{
      margin-left:10px;
      display: inline-block;
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      vertical-align: bottom;
   }
   &__price{
      font-weight: 600;
      margin-right: 0px;
      font-size: 0.8rem;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      @include tablet-only{margin-left: 10%;}
      @include xlScreen{margin-left: 6%;}
   }
   &-link{
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      height:75px;
      border-radius: 20px 0 0 20px;
      background-color: #fff;
      position: relative;
      z-index: 100;
      transition:all 1.5s ease-in-out;
      @include base-animation();
      animation-name: out;
      cursor: pointer;
   }
   &-link:hover{
      animation-name: checked;
      transition:all 1.5s ease-in-out;
      @include base-animation();
      
   }
   &-card--hidden{
      width:100%;
      border-radius: 0 20px 20px 0;
      height:auto;
      display:inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 0;
      top:-100%;
   }
   &-card--hidden i{
      font-size: 1.7rem;
      transform: rotate(-180deg);
      opacity: 0;
      animation-name: rotationOut;
   }
   &-card:hover .carte-prev-card--green i{
      animation-name: circleRotation;
      animation-duration: 1.1s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
   }
   &-card--green{
      width:20%;
      height:80px;
      vertical-align: middle;
      position: relative;
      z-index: 0;      
      text-align: center;
      background-color: $colour-tertiary;
      color:rgb(255, 255, 255);
      right:-80%;
      opacity:0;
      transition: all 0.7s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &-card:hover .carte-prev-card--green{
      opacity: 1;
      transition: all 0.7s ease-in-out;
   }
}
.carte-prev div:nth-child(1){animation-delay: 0.35s;}
.carte-prev div:nth-child(2){animation-delay: 0.7s;}
.carte-prev div:nth-child(3){animation-delay: .9s;}
.command-btn{
   @include xlScreen{margin-top: 30px;}
}